Q1. How do you comment code in Python? What are the different types of comments?

Answer:
-  We can create a comment in python using the # symbol. Anything after the # symbol on the same line is considered a comment.
- Comments are ignored by the Python interpreter and are only meant for human readers. There are two primary ways to add comments in Python:
 1) Single-line comments : Single-line comments are used for adding comments on a single line. You can create a single-line comment using the # symbol. 
 
 2) Multi-line comments (Docstrings): Multi-line comments are typically used for documenting functions, classes, or modules. In Python, multi-line comments are created using triple-    quoted    strings, which are often referred to as docstrings.

In [1]:
# This is a single line comment in python

"""
This is
a multiline 
comment in 
python
"""

'\nThis is\na multiline \ncomment in \npython\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [3]:
# Variables are containers for storing data values.
# A variable is created the moment you first assign a value to it.

x = 12       # declaring and assigning value to a variable.
y = 'apple'
z = True
print(x)
print(y)
print(z)

12
apple
True

Q3. How do you convert one data type to another in Python?

In [6]:
#In Python, you can convert one data type to another by type casting i.e. using type conversion functions or by simply assigning a value of one data type to a variable of another data type.
num_1 = 45.3        # float
num_2 = int(num_1)  # converts float into integer
num_3 = str(num_1)  # converts float into string
print(type(num_2))
print(type(num_3))

<class 'int'>
<class 'str'>

Q4. How do you write and execute a Python script from the command line?

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [7]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [12]:
# The complex number is the combination of a real number and imaginary number. An example of a complex number is 4+3i. Here 4 is a real number and 3i is an imaginary number.
# representation of complex number in python:

complex_no = 8+3j
print(type(complex_no))
print(complex_no.real)
print(complex_no.imag)

<class 'complex'>
8.0
3.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [13]:
age = 25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [1]:
price = 9.99
print(type(price)) # it belongs to float data type

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [3]:
name = 'Vidit Vikram Singh'
print(name)

Vidit Vikram Singh

Q10. Given the string "Hello, World!", extract the substring "World".

In [4]:
str1 = "Hello, World!"
print(str1[7:12])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [5]:
is_student = True
print(is_student)

True